/* *{
    background: lightslategray;
} */

.container{
    padding: 5%;
    padding-left: 5%;
    margin: 2%;
    border: 14px solid 	#000000;
    border-radius: 2%;
    box-shadow: 10px 10px;
    background: 	#d3d3d3;
    
}
.addBtn{
   margin: 10%;
   margin-left: 5%;
}
.heading{
   margin: 10%;
}
.show{
    display: flex;
    column-gap: 5%;
   padding-left: 10%;
   padding-top: 15%;
}
.red-text{
    color: red;
}
.green-text{
  
    color: green;
}

li{
    border-style: solid;
    border-color: black;
    background: yellow;
    border-radius: 9px 9px 9px 9px;
    display: inline-flex;
    padding-bottom: 10px;
    /* display: flex; 
     flex-wrap: wrap; 
     justify-content: space-around;  */
 }

.pops li{
padding: 2%;
margin-bottom: 4%;

}
.emptyform{
    font-size: 8px;
    color: crimson;
}
.success{
    color: green;
    font-size: 8px;
} */
.form {
    display: block;
    /* margin-top: 0em; */
}
